In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/billboard.csv')
dfl = pd.read_csv("data/lyrics.csv")
final = pd.read_csv("final_lyrics.csv")

In [3]:
dfl = dfl.dropna()
final = final.dropna()

In [53]:
df.head()

,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,0,2022-01-01,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,50
1,1,2022-01-01,2,Rockin' Around The Christmas Tree,Brenda Lee,2.0,2,44
2,2,2022-01-01,3,Jingle Bell Rock,Bobby Helms,4.0,3,41
3,3,2022-01-01,4,A Holly Jolly Christmas,Burl Ives,5.0,4,25
4,4,2022-01-01,5,Easy On Me,Adele,3.0,1,11

In [4]:
def get_count(string, word):
    #print(string)
    value = string.lower().count(word)
    #print(value)
    words = string.split(" ")
    return value

In [13]:
out = {
    "year": [],
    "rank": [],
    "mean": [],
    "song": [],
    "artist": [],
    "occ": []
}
for y in range(2000, 2022):
    print(y)
    year = df[(f"{y}-01-01 " <= df['date']) & ( df['date'] <= f"{y}-12-31")]
    for rs in range(1, 11):
        rank = year[year['rank'] == rs]
        rank = rank.reset_index()
        lyrics = []
        word = 'love'
        ign = []
        for i, r in rank.iterrows():
            #print(r.song)
            try:
                if any(r["song"] == final.song) and any(r["artist"] == final.artist):
                    tmp = final.loc[(final["song"] == r["song"]) & (r["artist"] == final["artist"]), 'lyrics'].iloc[0]
                    lyrics.append(tmp)
                elif any(r["song"] == dfl.song) and any(r["artist"] == dfl.artist):
                    tmp = dfl.loc[(dfl["song"] == r["song"]) & (dfl["artist"] == r["artist"]), 'lyrics'].iloc[0]
                    lyrics.append(tmp)
                else:
                    ign.append(i)
            except:
                ign.append(i)
                print(r["song"], r["artist"])
        rank = rank.drop(ign)
        rank["lyrics"] = lyrics
        res = []
        for _, song in rank.iterrows():
            val = get_count(song["lyrics"], word)
            res.append(val)
        rank["occ"] = res
        m = rank["occ"].mean()
        max_r = rank.loc[rank.occ.idxmax()]
        max_r["song"], max_r["artist"]
        out["year"].append(y)
        out["rank"].append(rs)
        out["mean"].append(m)
        out["song"].append(max_r['song'])
        out["artist"].append(max_r['artist'])
        out["occ"].append(max_r['occ'])

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

In [14]:
out_df = pd.DataFrame.from_dict(out)

In [15]:
out_df.to_csv("love_top10.csv", index=False)

In [8]:
len(out_df)

2200

In [170]:
52*22

1092

year,rank,avg,name