In [21]:
import pandas as pd
from nltk.corpus import stopwords
from textblob import TextBlob

In [22]:
lyrics = pd.read_csv('data/lyrics.csv')
billboard = pd.read_csv('data/billboard.csv')

In [23]:
billboard.head()

,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,0,2022-01-01,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,50
1,1,2022-01-01,2,Rockin' Around The Christmas Tree,Brenda Lee,2.0,2,44
2,2,2022-01-01,3,Jingle Bell Rock,Bobby Helms,4.0,3,41
3,3,2022-01-01,4,A Holly Jolly Christmas,Burl Ives,5.0,4,25
4,4,2022-01-01,5,Easy On Me,Adele,3.0,1,11

In [24]:
relevant = billboard[billboard.date >= '2000-01-01']

In [25]:
relevant.head()

,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,0,2022-01-01,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,50
1,1,2022-01-01,2,Rockin' Around The Christmas Tree,Brenda Lee,2.0,2,44
2,2,2022-01-01,3,Jingle Bell Rock,Bobby Helms,4.0,3,41
3,3,2022-01-01,4,A Holly Jolly Christmas,Burl Ives,5.0,4,25
4,4,2022-01-01,5,Easy On Me,Adele,3.0,1,11

In [28]:
lyrics.head()

,artist,song,lyrics,sentiment,subjectivity
0,Jack Ingram,Love You,"Dang the sun, dang this day I'm just tryin' to...",0.240655,0.635228
1,Havana Brown (Ft. Pitbull),We Run the Night (Remix),"Havana Brown RedOne Mr Worldwide From Miami,...",-0.024940,0.476613
2,Ryan Cabrera,On the Way Down,Sick and tired of this world There's no more a...,0.017976,0.569881
3,Jordan Pruitt,Outside Looking In,You don't know my name You don't know anything...,0.159524,0.408571
4,Christina Grimmie,How to Love (The Voice Performance),You had a lot of crooks tryna steal your heart...,0.248538,0.481871

In [33]:
df = pd.merge(relevant, lyrics, on=['artist', 'song'])

In [44]:
date_mean = df.groupby(['date'])['sentiment'].mean()
date_subj = df.groupby(['date'])['subjectivity'].mean()

In [47]:
df_merged = pd.merge(date_mean, date_subj, on=["date"])

In [48]:
df_merged.to_csv('data/lyrics_sent_subj.csv')